.my-footer {
  height: 5em;
  margin-top: 1.5em;
  padding: 1em;
  font-size: 80%;
  background-color: #163b65;
  color: #fff;
}

.room-image {
  max-width: 50%;
}

/* override notify styles here */
.notie-container {
  box-shadow: none;
}

.datepicker {
  z-index: 120;
}
.room-img {
  width: 50%;
}